@{
    ViewBag.Title = "Caroline cottage home page";
}
<h4>
    Lovely seaside holiday home in Mousehole, near Penzance, Cornwall. Spacious and
    light, with balcony overlooking harbour and Mounts Bay. Sleeps up to 6, with annexe
    also available for extra accommodation sleeping 2
</h4>
<div class="row">
    <div class="col-md-5">
        <ul>
            <li><a href="@Url.Action("Information", "Home")">Our cottage - words and pictures</a></li>
            <li><a href="@Url.Action("Mousehole", "Home")">About Mousehole</a></li>
            <li><a href="@Url.Action("Visit", "Home")">Some place to visit</a></li>
            <li><a href="@Url.Action("Guest", "Home")">Guest comments</a></li>
            <li><a href="@Url.Action("Availability", "Home")">Availability calendar</a></li>
            <li><a href="@Url.Action("ContactCC", "Home")">Contact us</a></li>
            <li><a href="@Url.Action("Download", "Home")">Download our map, booking form and brochure</a></li>
            <li><a href="@Url.Action("Video", "Home")">Watch our ManOnABeach interview about Mousehole</a></li>
        </ul>
    </div>
    <div class="col-md-5 ">
        <img src="~/Content/images3/IMG_1719 (640x427).jpg" class="img-responsive center-block" />
    </div>
</div>
@{
    var tempString = ViewData["Message"] ?? string.Empty;
    if (tempString.ToString() != string.Empty)
    {
        <p>
            Contact: @tempString.ToString()
        </p>
    }

}

@*<div class="row">
        <div class="col-md-2">
            <h3>Weather now <small>click for details</small></h3>
            <a href="https://www.accuweather.com/en/gb/penzance/tr18-2/weather-forecast/322310" class="aw-widget-legal">

            </a>
            <div id="awcc1526829360704" class="aw-widget-current" data-locationkey="322310" data-unit="c" data-language="en-gb" data-useip="false" data-uid="awcc1526829360704">

            </div>
            <script type="text/javascript" src="https://oap.accuweather.com/launch.js"></script>

        </div>
    </div>*@

@*<script type="text/javascript" src="https://oap.accuweather.com/launch.js"></script>*@
<!--
            By accessing and/or using this code snippet, you agree to AccuWeather’s terms and conditions (in English) which can be found at https://www.accuweather.com/en/free-weather-widgets/terms and AccuWeather’s Privacy Statement (in English) which can be found at https://www.accuweather.com/en/privacy.
            -->
